.container_create{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
}
.container_card{
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
}
.show_content_body{
    margin-left: 100px;
    margin-right: 100px;
}
